* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

a {
  text-decoration: none;
}

header {
  border-bottom: 1px solid  #6c6b6b;
}

header .heading {
  margin: 20px 0;
  text-align: center;
}

.nav-list {
  border-bottom: 1px solid #848282;
  text-align: center;
}

.nav-list-item {
  display: inline-block;
  margin: 15px 20px;
}

.main {
  margin: 50px auto;
  width: 800px;
  height:600px;
  display: flex;
  flex-wrap: wrap;
}

.size {
  width: 200px;
  height: 200px;
}

.box1 {
  background-color: #e6ffe9;
}

.box2 {
  background-color: #cbffd3;
}

.box3 {
  background-color: #aeffbd;
}

.box4 {
  background-color: #93ffab;
}

.box5 {
  background-color: #f3ffd8;
}

.box6 {
  background-color: #edffbe;
}

.box7 {
  background-color: #e9ffa5;
}

.box8 {
  background-color: #e4ff8d;
}

.box9 {
  background-color: #d9e5ff;
}

.box10 {
  background-color: #bad3ff;
}

.box11 {
  background-color: #a4c6ff;
}

.box12 {
  background-color: #8eb8ff;
}

footer {
  background-color: #848282;
}

.footer-text {
  line-height: 120px;
  text-align: center;
  color: #fff;
}

